/* Navbar */
.nav.navbar-nav.ml-auto { margin-right: 25px; }

/* Icons */
.la-edit {
    font-size: 24px;
    color: #fff;
}

.la-caret-left,
.la-caret-right,
.la-plus-circle {
    font-size: 24px;
}
